.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cube-spinner {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 100px 100px 0;
          transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}

.cube-spinner div {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px 0px lightyellow;
          box-shadow: 0 0 20px 0px lightyellow;
}

.cube-spinner .face1 {
  -webkit-transform: rotate(0deg) translateZ(100px);
          transform: rotate(0deg) translateZ(100px);
}

.cube-spinner .face2 {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

.cube-spinner .face3 {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}

.cube-spinner .face4 {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
}

.cube-spinner .face5 {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

.cube-spinner .face6 {
  -webkit-transform: rotateY(180deg) translateZ(100px);
          transform: rotateY(180deg) translateZ(100px);
}

@-webkit-keyframes rotate {
  from,
  to {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  16% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  33% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  66% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
}

@keyframes rotate {
  from,
  to {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  16% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  33% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  66% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
}
/*# sourceMappingURL=index.css.map */