.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin-left: 15px;
    font-family: 'Coolvetica';
    font-weight: 400;
    letter-spacing: 2px;

    &::before {
      content: '<div>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      position: absolute;
      font-size: 18px;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '</div>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      position: absolute;
      font-size: 18px;
      margin-top: 30px;
      margin-left: 20px;
      opacity: 0.6;
    }
  }
}

h2 {
  color: #adadad;
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
  margin-left: 15px;
}

.flat-button {
  color: #ffd700;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid #ffd700;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  margin-left: 15px;

  &:hover {
    background-color: #ffd700;
    color: #333;
  }
}
